{% liquid
  assign enable_rtl = settings.enable_rtl
  assign language_support_rtl = settings.language_support_rtl
  if enable_rtl and language_support_rtl != blank
    assign shop_locale = localization.language.iso_code
    assign language_support_rtl_list = language_support_rtl | split: ','
    assign is_rtl = language_support_rtl_list | where: shop_locale
    if is_rtl.size > 0
      assign enable_rtl = true
    else
      assign enable_rtl = false
    endif
  endif

  assign body_classes = 'template-' | append: template.name | append: ' ' | append: template.suffix | append: ' m-gradient m-color-' | append: settings.default_color_scheme
  if settings.page_transition
    assign body_classes = body_classes | append: ' m:overflow-hidden'
  endif
  if template.suffix == 'about-us'
    assign body_classes = body_classes | append: ' sf__page-about'
  endif
%}
<!doctype html>
<html
  class="no-js {% if settings.page_transition %} m:overflow-hidden{% endif %}"
  lang="{{ request.locale.iso_code }}"
  data-template="{{ template.name }}"
  {% if enable_rtl %}
    dir="rtl"
  {% endif %}
>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% comment %}
      {% render 'hyperspeed-imports' %}
    {% endcomment %}
    <meta charset="utf-8">
    {%- liquid
      assign should_noindex = false

      if template.name == 'page'
        if page.metafields.seo.noindex == true
          assign should_noindex = true
        endif
      endif
    -%}
    {% if should_noindex %}
      <meta name="robots" content="noindex,nofollow">
    {% else %}
      <meta name="robots" content="index,follow">
    {% endif %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="theme-color" content="{{ settings.color_primary }}">

    {%- liquid
      render 'preload'
      render 'SEO'
      render 'social-meta-tags'
      render 'font-face'
    -%}

    {% render 'critical-css' %}

    {{ 'main.css' | asset_url | stylesheet_tag }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">

    {% render 'style-tags' %}
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'theme-global.js' | asset_url }}" defer="defer"></script>
    {%- if settings.animations != 'none' -%}
      <script src="{{ 'animations.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
    {%- if request.design_mode -%}
      <script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}

    {{ content_for_header }}

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      if (Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }
    </script>
    {% render 'theme-data' %}
    {% render 'custom-code-head' %}

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
    </style>

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Calypsa",

        "logo": "https://{{ shop.domain }}/cdn/shop/files/Calypsa_PNG-09.png?v=1722335190&width=1726",

        "sameAs": [
          "https://twitter.com/Calypsa_",
          "https://www.facebook.com/CalypsabyModLi/",
          "https://www.pinterest.com/CalypsaStyle/",
          "https://www.instagram.com/calypsa/",
          "https://www.youtube.com/channel/UCZclyAg717ix5XU98geyVoQ"
        ],
        "url": "https://{{ shop.domain }}"
      }
    </script>
    {% render 'schema-breadcrumb' %}
  </head>

  <body
    id="m-theme"
    class="{{ body_classes }}"
    {% if template.name == 'product' %}
      data-product-id="{{ product.id }}"
    {% endif %}
  >
    {% render 'page-transition' %}
    {%- liquid
      render 'scroll-top-button'
      sections 'header-group'
    -%}

    <main role="main" id="MainContent">
      {{ content_for_layout }}
    </main>

    {%- sections 'footer-group' -%}

    {% render 'script-tags' %}
    {% render 'cookie-banner' %}
    {% render 'custom-code-body' %}

    <script src="{{ 'product-quick-view.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'wishlist.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'compare-product.js' | asset_url }}" defer="defer"></script>

    {%- if settings.enable_predictive_search -%}
      <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}

    {%- if linklists['gift-wrapping'].links != blank
      and linklists['gift-wrapping'].links.first.type == 'product_link'
    -%}
      <script src="{{ 'gift-wrapping.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}

    {%- if settings.show_swatch_option -%}
      <script src="{{ 'product-card-swatch.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}

    {%- if settings.enable_cart_drawer and template != 'cart' -%}
      {% render 'cart-drawer' %}
    {%- endif -%}
    {%- if settings.enable_size_guide -%}
      {% render 'product-size-guide-modal', section: section %}
    {%- endif -%}
    {% render 'samita-custom' %}
  </body>
</html>
